#braah {
  background-color: rgb(153, 133, 172);
}
#br {
  background-color: rgb(151, 134, 168);
}
table,
tr,
td,
th {
  border: 5px solid rosybrown;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar1, #navbar2,  #navbar3,  #navbar4  {
  float: left;
}

li a {
  display: block;
  color: rgb(238, 231, 231);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}